<!DOCTYPE html>
<html>
  <head>
    <title>MINCHO</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/trendsStyle.css' />
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- 제이쿼리 -->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <body>
    <%- include('title') %>
    <div class="trends-container">
        <div class="left">

        </div>
        <div class="right">
            
        </div>
    </div>
    <div class="trends-news">
      <% cr_news.forEach((item,index) => { %>
        <img src="<%= item.cr_img %>">
        <p><%= item.cr_title %></p> 
        <p><%= item.cr_context %></p> 
        <p><%= item.cr_writer %></p> 
      <% }) %>
      <div class="trends-news-card"></div>
    </div>
  </body>
</html>
