<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='/stylesheets/wallet.css' />
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/javascripts/wallet.js"></script>
   
    <script>
        function refresh() {
            location.reload();
        }

    </script>


</head>

<body class="bgWhite">
    <%- include('title') %>

        <div>
            <div class="mainB">
                <section class="ty01">
                    <div class="halfB">
                        <div class="leftB sizeUp sgdB">
                            <article>
                                <div class="scrollB">
                                    <div style="position: relative; overflow: hidden; width: 100%; height: 870px;">
                                        <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -17px; margin-bottom: -17px;">
                                            <span class="totalB">
                                                <strong>총 보유 자산</strong>
                                                <p>
                                                    <%=balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                                                    KRW
                                                </p>
                                            </span>
                                            <span>
                                                보유 코인 현황 공간
                                            </span>
                                           
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="rightB sizeUp sgdB">
                            <article>
                                <span class="titB">
                                    <strong>
                                        KRW
                                        입출금
                                    </strong>
                                    <a href="#" class="refresh" title="새로고침" onClick="window.location.reload()">새로고침</a>
                                </span>
                                <span class="dlB">
                                    <dl class="bg">
                                        <dt class="first">
                                            보유금액
                                        </dt>
                                        <dd class="first">
                                            <strong>
                                                <%=balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                                                    KRW<br>
                                            </strong>
                                        </dd>
                                    </dl>
                                </span>
                                <span class="tabB">

                                <div class="faq-content">
                                    <button class="question" id="que-1">
                                        <span id="que-1-toggle"></span>
                                        <span>KRW 충전</span>
                                    </button>
                                    
                                    <div class="answer" id="ans-1">
                                        <div class="TabArea">
                                            <form action="/wallet/deposit" method="POST">
                                                <input type="number" id="num" placeholder="0" name="money" style="height: 25px; border-radius: 10px;">
                                                <input type="submit" value="입금" id="deposit" style=" height: 25px; width: 35px; border-radius: 10px;   cursor: pointer;">
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-content">
                                    <button class="question" id="que-2">
                                        <span id="que-2-toggle"></span>
                                        <span>출금신청</span>
                                    </button>

                                    <div class="answer" id="ans-2">
                                        <div class="TabArea">
                                            <form action="/wallet/withdraw" method="POST">
                                                <input type="number" id="num1" placeholder="0" name="money"  style="height: 25px; border-radius: 10px;">
                                                <input type="submit" value="출금" id="withdraw" style=" height: 25px; width: 35px; border-radius: 10px;   cursor: pointer;">
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="faq-content">
                                    <button class="question" id="que-3"><span
                                            id="que-3-toggle"></span><span>입출금내역</span></button>
                                    <div class="answer" id="ans-3" style="overflow:scroll; width:500px; height:600px;">

                                       
                                        <div style="overflow-x:hidden; width:500px; height:900px;">
                                            <%trade.forEach((item,index)=>{%>
                                                <table>
                                                    <tr>
                                                        <th width="80">[<%=item.action%>]</th>
                                                        <th width="200"><%=moment(item.date).format('YYYY.MM.DD - HH:mm:ss')%> </th>
                                                        <th width="100"><%=item.money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>원</th>
                                                    </tr>
                                                <%})%>
                                                </table>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    const items = document.querySelectorAll('.question');

                                    function openCloseAnswer() {
                                        const answerId = this.id.replace('que', 'ans');

                                        if (document.getElementById(answerId).style.display === 'block') {
                                            document.getElementById(answerId).style.display = 'none';
                                            document.getElementById(this.id + '-toggle').textContent = '+';
                                        } else {
                                            document.getElementById(answerId).style.display = 'block';
                                            document.getElementById(this.id + '-toggle').textContent = '-';
                                        }
                                    }

                                    items.forEach(item => item.addEventListener('click', openCloseAnswer));
                                </script>
                            </span>
                        </div>
                        </article>
                    </div>
            </div>

            </section>
            <section class="ty02">
                <article>
                    <span class="tabB">
                        <table border=1 id="table_ticker" class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <td>영문명</td>
                                    <td>단위 (KRW)</td>
                                    <td>현재가</td>
                                    <td>전일대비</td>
                                    <td>거래대금</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </span>
                </article>
            </section>
        </div>
        </div>
        <footer>

        </footer>

</body>

</html>