<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='/stylesheets/wallet.css' />
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/javascripts/wallet.js"></script>
    <script>
        $(document).ready(function () {
            $('#deposit').on('click', () => {
                console.log('입금처리');
                $.ajax({
                    url: '/wallet/deposit',
                    dataType: 'json',
                    type: 'POST',
                    data: { 'data': $('#num').val() },
                    success: (result_balance) => {
                        if (result_balance['result_balance'] == true) {
                            alert('입금완료!');
                        }
                        location.reload('/wallet');
                    }
                });
            });
            $('#withdraw').on('click', () => {
                console.log('출금처리');
                $.ajax({
                    url: '/wallet/withdraw',
                    dataType: 'json',
                    type: 'POST',
                    data: { 'data': $('#num1').val() },
                    success: (result_balance) => {
                        if (result_balance['result_balance'] == true) {
                            alert('출금완료!');
                        } else {
                            alert('출금실패');
                            
                        }
                        location.reload('/wallet');
                    }
                });
            });
            setInterval(()=>{
                const bit = $('.Bitcoin_count').text();
                const eth = $('.Ethereum_count').text();
                const lit = $('.Litecoin_count').text();
                const rip = $('.Ripple_count').text();
                const tim = $('.Timocoin_count').text();
                const dog = $('.Dogecoin_count').text();

                $('.Bitcoin_price').text('');
                $('.Ethereum_price').text('');
                $('.Litecoin_price').text('');
                $('.Ripple_price').text('');
                $('.Timocoin_price').text('');
                $('.Dogecoin_price').text('');
                
                $('.Bitcoin_price').text(Number(bit) * Number($('#Bitcoin').text().replace(/,/g,"")));
                $('.Ethereum_price').text(Number(eth) * Number($('#Ethereum').text().replace(/,/g,"")));
                $('.Litecoin_price').text(Number(lit) * Number($('#Lietecoin').text().replace(/,/g,"")));
                $('.Ripple_price').text(Number(rip) * Number($('#Ripple').text().replace(/,/g,"")));
                $('.Timocoin_price').text(Number(tim) * Number($('#Timocoin').text().replace(/,/g,"")));
                $('.Dogecoin_price').text(Number(dog) * Number($('#Dogecoin').text().replace(/,/g,"")));

                $('.krw_all').text((Number($('.Bitcoin_price').text()) + Number($('.Ethereum_price').text()) + Number($('.Litecoin_price').text()) +  Number($('.Ripple_price').text()) + Number($('.Timocoin_price').text()) + Number($('.Dogecoin_price').text())).toLocaleString('ko-KR')+"KRW");
            },1000)

        });
    </script>
    <script>
        function refresh() {
            location.reload();
        }

    </script>


</head>

<body class="bgWhite">
    <%- include('title') %>

        <div>
            <div class="mainB">
                <section class="ty01">
                    <div class="halfB">
                        <div class="leftB sizeUp sgdB">
                            <article>
                                <div class="scrollB">
                                    <div style="position: relative; overflow: hidden; width: 100%; height: 870px;">
                                        <div style="position: absolute; inset: 0px; overflow: scroll; margin-right: -17px; margin-bottom: -17px;">
                                            <span class="totalB">
                                                <strong>총 보유 자산</strong>
                                                <p class="krw_all">
                                                    <!-- <%=balance%> -->
                                                    <!-- KRW -->
                                                </p>
                                            </span>
                                            <span>
                                                <div class="inside_wallet">
                                                    <div style="width: 30%;">코인명</div>
                                                    <div style="width: 30%;">평가액</div>
                                                    <div style="width: 30%;">보유수량</div>
                                                </div>
                                                <% coin.forEach((co)=>{ %>
                                                    <% var names = wallet.find(element => element.coin_name == co); %>
                                                    <div class="inside_wallet">
                                                    <% if(names != undefined){ %>
                                                        <div style="width: 30%;" class="divimg"><img src=<%=`/images/${co}.png`%> style="width: 40px; height: 40px;"><p><%=co%></p></div>
                                                        <div style="width: 30%;" class="<%=co%>_price"></div>
                                                        <div style="width: 30%;" class="<%=co%>_count"><%=names.wallet_coin_count%></div>
                                                    <% }else{ %>
                                                        <div style="width: 30%;"  class="divimg"><img src=<%=`/images/${co}.png`%> style="width: 40px; height: 40px;"><p><%=co%></p></div>
                                                        <div style="width: 30%;" >0</div>
                                                        <div style="width: 30%;" class="<%=co%>_count">0</div>
                                                    <% } %>
                                                    </div>
                                                <% }) %>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                        <div class="rightB sizeUp sgdB">
                            <article>
                                <span class="titB">
                                    <strong>
                                        KRW
                                        입출금
                                    </strong>
                                    <a href="#" class="refresh" title="새로고침" onClick="window.location.reload()">새로고침</a>
                                </span>
                                <span class="dlB">
                                    <dl class="bg">
                                        <dt class="first">
                                            보유금액
                                        </dt>
                                        <dd class="first">
                                            <strong>
                                                <%=balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>
                                                    KRW<br>
                                            </strong>
                                        </dd>
                                    </dl>
                                </span>
                                <span class="tabB">

                                <div class="faq-content">
                                    <button class="question" id="que-1">
                                        <span id="que-1-toggle"></span>
                                        <span>KRW 충전</span>
                                    </button>
                                    
                                    <div class="answer" id="ans-1">
                                        <div class="TabArea">
                                            <form action="/wallet/deposit" method="POST">
                                                <input type="number" id="num" placeholder="0" name="money" style="height: 25px; margin-left: 10px; text-align: right;">
                                                <input type="submit" value="입금" id="deposit">
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="faq-content">
                                    <button class="question" id="que-2">
                                        <span id="que-2-toggle"></span>
                                        <span>출금신청</span>
                                    </button>

                                    <div class="answer" id="ans-2">
                                        <div class="TabArea">
                                            <form action="/wallet/withdraw" method="POST">
                                                <input type="number" id="num1" placeholder="0" name="money"  style="height: 25px; border-radius: 10px;">
                                                <input type="submit" value="출금" id="withdraw" style=" height: 25px; width: 35px; border-radius: 10px;   cursor: pointer;">
                                            </form>
                                        </div> -->
                                <div class="faq-content">
                                    <button class="question" id="que-2">
                                        <span id="que-2-toggle"></span>
                                        <span>출금신청</span>
                                    </button>

                                    <div class="answer" id="ans-2">
                                        <div class="TabArea">
                                            <form action="/wallet/withdraw" method="POST">
                                                <input type="number" id="num" placeholder="0" name="money"  style="height: 25px;  margin-left: 10px; text-align: right;">
                                                <input type="submit" value="출금" id="withdraw">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="faq-content">
                                    <button class="question" id="que-3"><span
                                            id="que-3-toggle"></span><span>입출금내역</span></button>
                                    <div class="answer" id="ans-3" style="overflow:scroll; width:500px; height:600px;">
                                        <div style="overflow-x:hidden; width:500px; height:900px;">
                                            <%trade.forEach((item,index)=>{%>
                                                <table>
                                                    <tr>
                                                        <th width="80">[<%=item.action%>]</th>
                                                        <th width="200"><%=moment(item.date).format('YYYY.MM.DD - HH:mm:ss')%> </th>
                                                        <th width="100"><%=item.money.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%>원</th>
                                                    </tr>
                                                <%})%>
                                                </table>
                                        </div>
                                    </div>
                                </div>

                                    <script>
                                        const items = document.querySelectorAll('.question');

                                        function openCloseAnswer() {
                                            const answerId = this.id.replace('que', 'ans');

                                            if (document.getElementById(answerId).style.display === 'block') {
                                                document.getElementById(answerId).style.display = 'none';
                                                document.getElementById(this.id + '-toggle').textContent = '+';
                                            } else {
                                                document.getElementById(answerId).style.display = 'block';
                                                document.getElementById(this.id + '-toggle').textContent = '-';
                                            }
                                        }

                                        items.forEach(item => item.addEventListener('click', openCloseAnswer));
                                    </script>
                                </span>
                            </article>
                        </div>
                    </div>
                </section>
                <section class="tab2" style="margin-top: 0;">
                    <table border=1 id="table_ticker" class="table table-hover text-center">
                        <thead>
                            <tr>
                                <th>영문명</th>
                                <th>현재가</th>
                                <th>전일대비</th>
                                <th>거래대금</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <footer>

        </footer>

</body>

</html>